* {
    margin: 0;
    border: 0;
    padding: 0;
}

.pagina-inteira-corpo{
    background: #71f3f3;
    margin: 3vh 3vw;
    font-family: 'Inter', sans-serif;
}

.secao-entrada-botoes{
    display: inline-block;
    margin: 10vh 0 0 15vw
}

.cabecalho-alura-logo{
    position: absolute;
    top: 4vh;
    left: 2vh;
}

.campo-entrada-usuario{
    width: 42vw;
    min-width: 270px;
    height: 60vh;
    resize: none; /*Impede o usuario de modificar o tamanho do campo*/
    color: #0A3871;
    font-size: 24px;
    background: #71f3f3; 
    box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.541);
  
}

.campo-entrada-usuario::placeholder{ /*Permite editar o texto que apararece antes de clicar*/
    color: rgba(49, 50, 57, 0.356);
    font-size: 24px;
    padding-left: 05px;  
}

.campo-entrada-usuario:focus{ /*Permite editar a borda quando se clica no campo*/
    outline: 0; /*Retira a borda quando se clica no campo*/
}

.botao-criptografar-usuario{
    color: #FFFFFF;
    font-size: 16px;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 20px;
    height: 70px;
    width: 20vw;
    max-width: 430px;
    min-width: 130px;
    margin: 0 1vw 5vh 0;
    transition: 100ms;
}

.botao-criptografar-usuario:hover{
    color: #0A3871;
    border: 1px solid #0A3871;
    background: #E5E5E5;
    box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.25);
}

.botao-descriptografar-usuario{
    color: #0A3871;
    font-size: 16px;
    border: 1px solid #0A3871;
    border-radius: 20px;
    height: 70px;
    width: 20vw;
    max-width: 430px;
    min-width: 130px;
    margin: 0 0 5vh 1vw;
    transition: 100ms;
}

.botao-descriptografar-usuario:hover{
    color: #FFFFFF;
    background: #0A3871;
    box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.25);
}

.informativo-formatacao-entrada:before{
    content: '🛈';
    padding: 0 1vh 0 0; /*Separa o ícone do texto*/
}

.informativo-formatacao-entrada{
    font-size: 12px;
    color: #495057;
    padding: 2vh 0;
}

.secao-saida-texto{
    background: #71f3f3;
    text-align: center;
    width: 400px;
    height: 94vh;
    box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.541);
    float: right; /*Alinha o texto à direta*/
    margin-left: 5vw;
}

.mensagem-antes-processamento{
    position: relative; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 300px;
    margin: auto;
}

.imagem-mulher-lupa{
    width: 300px;
}

.titulo-antes-processamento{
    color: #343A40;
    padding: 1vh 0;
    font-size: 24px;
}

.paragrafo-antes-processamento{
    color: #343A40;
    padding: 1vh 0;
    font-size: 16px;
}

.campo-pos-processamento{
    display: none; /*O campo de exibição do texto e o botão de copiar não aparecem inicialmente*/
}

.campo-saida-mensagem{
    background: #71f3f3;
    resize: none;
    font-size: 24px;
    color: #495057;
    width: 350px;
    height: calc(82vh - 70px);
    margin: 4vh 25px;
}

.campo-saida-mensagem:focus{
    outline: 0;
}

.botao-copiar-saida{
    color: #0A3871;
    background: #FFFFFF;
    font-size: 16px;
    border: 1px solid #0A3871;
    border-radius: 20px;
    height: 70px;
    width: 350px;
    transition: 100ms;
}

.botao-copiar-saida:hover{
    color: #FFFFFF;
    background: #0A3871;
    box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px){ /*Para dispositivos móveis*/
    .pagina-inteira-corpo{
        width: 96vw;
        margin: auto;
    }

    .secao-entrada-botoes{
        display: block;
        margin: 15vh 0 0 0;
    }

    .cabecalho-alura-logo{
        top: 3vh;
        left: -25px;
    }

    .campo-entrada-usuario{
        width: 96vw;
        margin: auto;
        font-size: 32px;
    }

    .campo-entrada-usuario::placeholder{
        font-size: 32px;
    }

    .botao-criptografar-usuario,
    .botao-descriptografar-usuario{
        width: 46vw;
    }

    .secao-saida-texto{
        width: 96vw;
        margin: 0 auto 3vh;
        float: none; /*Retira o alinhamento do texto à direta*/
        height: 50vh;
    }

    .mensagem-antes-processamento{
        width: 90vw;
    }

    .imagem-mulher-lupa{ /*Para a imagem da mulher com lupa não aparece em dispositivos móveis*/
        display: none;
    }

    .campo-saida-mensagem{
        width: 90vw;
        margin: 4vh auto;
        height: calc(38vh - 70px);
    }

    .botao-copiar-saida{
        width: 88vw;
    }
}